# Ignore virtual environment
backend/venv/
backend/backend/app/management/commands/create_admin.py

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environment variables
.env

# VSCode settings
.vscode/
